@charset "UTF-8";
/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * DeepRegrets implementation : © Connor Rask connor@srask.ca
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */
/*
Setup in js:
			<div id="scene">
				<div class="redP" id="dice">
					<div class="face" id="f1"></div>
					<div class="face" id="f2"></div>
					<div class="face" id="f3"></div>
					<div class="face" id="f4"></div>
					<div class="triangle top" id="t1"></div>
					<div class="triangle top" id="t2"></div>
					<div class="triangle top" id="t3"></div>
					<div class="triangle top" id="t4"></div>
					<div class="triangle bottom" id="t5"></div>
					<div class="triangle bottom" id="t6"></div>
					<div class="triangle bottom" id="t7"></div>
					<div class="triangle bottom" id="t8"></div>
				</div>
			</div>
*/
#scene {
  z-index: 10;
  perspective: 150vw;
}

#dice {
  position: absolute;
  transform-style: preserve-3d;
  width: 80px;
  left: 50px;
  top: 50px;
  transition: transform 2s ease-out;
}

.face {
  background-image: url("img/dice/sides.jpg");
  background-size: 900% 400%;
  position: absolute;
  width: 80px;
  height: 120px;
}
.blueP .face {
  background-position-x: 0%;
}

.blueT .face {
  background-position-x: -100%;
}

.greenP .face {
  background-position-x: -200%;
}

.greenT .face {
  background-position-x: -300%;
}

.omen .face {
  background-position-x: -400%;
}

.redP .face {
  background-position-x: -500%;
}

.tealP .face {
  background-position-x: -600%;
}

.orangeP .face {
  background-position-x: -700%;
}

.orangeT .face {
  background-position-x: -800%;
}

#f1 {
  background-position-y: 0;
  transform: translateZ(40px);
}

#f2 {
  background-position-y: -100%;
  transform: rotateY(90deg) translateZ(40px);
}

#f3 {
  background-position-y: -200%;
  transform: rotateY(180deg) translateZ(40px);
}

#f4 {
  background-position-y: -300%;
  transform: rotateY(-90deg) translateZ(40px);
}

.top {
  background-image: url("img/dice/tops.png");
  background-size: 200% 200%;
}
.greenP .top {
  background-position: -100% 0;
}

.blueP .top {
  background-position: -100% 0;
}

.redP .top {
  background-position: -100% 0;
}

.orangeP .top {
  background-position: -100% 0;
}

.tealP .top {
  background-position: -100% 0;
}

.omen .top {
  background-position: 0 -100%;
}

.greenT .top {
  background-position: 0 0;
}

.blueT .top {
  background-position: 0 0;
}

.orangeT .top {
  background-position: 0 0;
}

.bottom {
  background-image: url("img/dice/bottoms.png");
  background-size: 300% 300%;
}
.greenP .bottom {
  background-position: -200% -200%;
}

.blueP .bottom {
  background-position: -100% -200%;
}

.orangeP .bottom {
  background-position: -200% 0;
}

.redP .bottom {
  background-position: -200% -100%;
}

.tealP .bottom {
  background-position: 0 -200%;
}

.omen .bottom {
  background-position: -100% -100%;
}

.greenT .bottom {
  background-position: -100% 0;
}

.blueT .bottom {
  background-position: -100% 0;
}

.orangeT .bottom {
  background-position: -100% 0;
}

.triangle {
  position: absolute;
  width: 80px;
  height: 57.6px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#t1 {
  transform: translateY(-49px) translateZ(20px) rotateX(45deg);
}

#t2 {
  transform: translateY(-49px) translateX(20px) rotateY(90deg) rotateX(45deg);
}

#t3 {
  transform: translateY(-49px) translateZ(-20px) rotateY(180deg) rotateX(45deg);
}

#t4 {
  transform: translateY(-49px) translateX(-20px) rotateY(-90deg) rotateX(45deg);
}

#t5 {
  transform: translateY(111px) translateZ(20px) rotateX(135deg);
}

#t6 {
  transform: translateY(111px) translateX(20px) rotateY(90deg) rotateX(135deg);
}

#t7 {
  transform: translateY(111px) translateZ(-20px) rotateY(180deg) rotateX(135deg);
}

#t8 {
  transform: translateY(111px) translateX(-20px) rotateY(-90deg) rotateX(135deg);
}

#boards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  row-gap: 10px;
  flex-wrap: wrap;
}
#boards #sea_board {
  max-width: 100%;
  width: 600px;
  aspect-ratio: 3000/4050;
  background-image: url("img/boards/sea.jpg");
  background-size: auto 100%;
  position: relative;
  border-radius: 2px;
  box-shadow: 1px 1px 1px black;
  zoom: 1;
  margin-right: 142px;
}
#boards #sea_board #shoal_grid {
  display: grid;
  grid-template-rows: repeat(3, 215px);
  grid-template-columns: repeat(4, 156px);
  margin-top: 101px;
  margin-left: 75px;
  row-gap: 10px;
  column-gap: 9px;
}
#boards #sea_board .shoal {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin: 0;
}
#boards #sea_board .shoal.selectable, #boards #sea_board .shoal.selectable:hover, #boards #sea_board .shoal.selected {
  outline-width: 3px;
}
#boards #sea_board .shoal .fish {
  transition: 0.5s ease transform;
}
#boards #sea_board #ship_grid_sea {
  top: 133px;
  left: 0;
  display: grid;
  grid-template-rows: repeat(3, 222px);
  grid-template-columns: 63px;
  position: absolute;
}
#boards #sea_board #dink_deck {
  height: 147px;
  aspect-ratio: 212/302;
  position: absolute;
  left: 432px;
  top: -8px;
  transform: rotate(90deg);
  border-radius: 5px;
}
#boards #port_board {
  max-width: 1500px;
  width: 100%;
  aspect-ratio: 3000/2025;
  background-image: url("img/boards/port.jpg");
  background-size: 100% 100%;
  position: relative;
  border-radius: 2px;
  box-shadow: 1px 1px 1px black;
  zoom: 1;
  margin-right: 220px;
  margin-bottom: 520px;
  flex: 0 0 auto;
}
#boards #port_board .dayTracker-slot {
  aspect-ratio: 1;
  background-image: url("img/other/day.png");
  background-size: 100% 100%;
  position: absolute;
  top: -43px;
  width: 100px;
}
#boards #port_board #day-1 {
  left: 821px;
}
#boards #port_board #day-2 {
  left: 929.8px;
}
#boards #port_board #day-3 {
  left: 1038.6px;
}
#boards #port_board #day-4 {
  left: 1147.4px;
}
#boards #port_board #day-5 {
  left: 1256.2px;
}
#boards #port_board #day-6 {
  left: 1365px;
}
#boards #port_board #regret_grid {
  position: absolute;
  display: grid;
  grid-template-columns: 278px;
  grid-template-rows: repeat(2, 396px);
  gap: 16px;
  left: 1440px;
  top: 183px;
}
#boards #port_board .regret {
  border-radius: 12px;
}
#boards #port_board .itemDeck {
  width: 350px;
  height: 490px;
  position: absolute;
  border-radius: 12px;
  top: 1040px;
}
#boards #port_board #rodsDeck {
  left: 210px;
}
#boards #port_board #reelsDeck {
  left: 625px;
}
#boards #port_board #suppliesDeck {
  left: 1040px;
}
#boards #port_board #ship_port {
  width: 150PX;
  height: 394PX;
  position: absolute;
  left: 0;
  top: 596px;
}
#boards #port_board #ship_port div {
  zoom: 1.6;
}
#boards .size_buttons {
  display: flex;
  flex-direction: row;
  gap: 3px;
  margin: 3px;
}
#boards .utility_button {
  width: 30px;
  aspect-ratio: 1;
  background-image: url("img/utilityButtons.png");
  background-size: 400% 100%;
  top: 0;
}
#boards #sea_large {
  background-position-x: calc(-1 * 100%);
  cursor: pointer;
}
#boards #sea_small {
  background-position-x: calc(-2 * 100%);
  cursor: pointer;
}
#boards #sea_home {
  background-position-x: calc(-0 * 100%);
  cursor: pointer;
}
#boards #port_large {
  background-position-x: calc(-1 * 100%);
  cursor: pointer;
}
#boards #port_small {
  background-position-x: calc(-2 * 100%);
  cursor: pointer;
}
#boards #port_home {
  background-position-x: calc(-0 * 100%);
  cursor: pointer;
}

.fish {
  pointer-events: auto;
}

.playerBoard {
  background-image: url("img/boards/playerBoards.jpg");
  width: calc(100% - 20px);
  aspect-ratio: 1020/450;
  background-size: 200% 500%;
  margin: 10px;
  max-width: 720px;
  position: relative;
  border-radius: 5px;
}
.playerBoard .freshGrid {
  width: 245px;
  height: 130px;
  position: absolute;
  left: 308px;
  top: 127px;
}
.playerBoard .freshGrid .selectable, .playerBoard .freshGrid .selectable:hover, .playerBoard .freshGrid .selected {
  outline-width: 3px;
  cursor: pointer;
}
.playerBoard .spentGrid {
  width: 137px;
  height: 133px;
  position: absolute;
  left: 564px;
  top: 127px;
}
.playerBoard.selectable, .playerBoard.selectable:hover {
  outline-width: 5px;
}
.playerBoard .freshGrid, .playerBoard .spentGrid, .playerBoard .fishbuck-slot, .playerBoard .FP-LP {
  pointer-events: none;
}
.playerBoard .dice {
  pointer-events: auto;
}

.hide {
  opacity: 0;
}

button.hide {
  width: 0;
}

.removed {
  opacity: 0;
  pointer-events: none;
}

.FP-LP {
  width: 100px;
  height: 200px;
  margin-top: 114px;
  margin-left: 20px;
}

#FP, #LP {
  width: 100px;
  height: 100px;
  pointer-events: auto;
  background-size: 100% 100%;
  display: inline-block;
}

#FP {
  background-image: url(img/other/firstPlayer.png);
}

#LP {
  background-image: url(img/other/lifePreserver.png);
}
#LP.selectable, #LP.selectable:hover, #LP.selected {
  outline-width: 3px;
}
#LP {
  border-radius: 50%;
}

.fishbuck-slot {
  background-image: url("img/other/moneyTrackers.png");
  background-size: 100% 500%;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 50%;
  box-shadow: 1px 1px 1px black;
  transition: 0.8s ease left;
}

.fishbuck-slot {
  top: 46px;
  width: 50px;
}

.playerComponents {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.playerComponents .provisions {
  height: 300px;
  aspect-ratio: 600/840;
  background-size: 200% 200%;
  margin: 10px;
}
.playerComponents .lifeboat {
  perspective: 1000px;
  border-radius: 7px;
}
.playerComponents .lifeboat.selectable, .playerComponents .lifeboat.selectable:hover {
  outline-width: 3px;
}
.playerComponents .lifeboat.flipped .lifeboat-inner {
  transform: rotateY(180deg);
}
.playerComponents .lifeboat-inner {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  transform-style: preserve-3d;
}
.playerComponents .lifeboat-front, .playerComponents .lifeboat-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  background-image: url(img/provisions.png);
  background-size: 200% 200%;
}
.playerComponents .lifeboat-back {
  transform: rotateY(180deg);
  background-position-y: -100%;
}
.playerComponents .canOfWorms {
  perspective: 1000px;
  border-radius: 7px;
}
.playerComponents .canOfWorms.selectable, .playerComponents .canOfWorms.selectable:hover, .playerComponents .canOfWorms.selected {
  outline-width: 3px;
}
.playerComponents .canOfWorms.flipped .canOfWorms-inner {
  transform: rotateY(180deg);
}
.playerComponents .canOfWorms-inner {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  transform-style: preserve-3d;
}
.playerComponents .canOfWorms-front, .playerComponents .canOfWorms-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  background-image: url(img/provisions.png);
  background-position-x: -100%;
  background-size: 200% 200%;
}
.playerComponents .canOfWorms-back {
  transform: rotateY(180deg);
  background-position-y: -100%;
}

#madness_board {
  position: fixed;
  bottom: 5px;
  z-index: 6;
  transition: all 1s ease;
}
#madness_board #tinyMadness {
  position: absolute;
  opacity: 1;
  bottom: 0;
  z-index: 5;
  box-shadow: 2px 2px 5px black;
  left: 0;
  transform-origin: bottom left;
  transition: scale 1s ease, width 1s ease, aspect-ratio 1s ease, border-radius 1s ease;
  background-image: url(img/other/madnessCubes.png);
  background-size: 100% 500%;
}
#madness_board #largeMadness {
  position: absolute;
  opacity: 0;
  bottom: 0;
  z-index: 5;
  box-shadow: 2px 2px 5px black;
  left: 0;
  transform-origin: bottom left;
  transition: scale 1s ease, width 1s ease, aspect-ratio 1s ease, border-radius 1s ease, opacity 1s ease;
  background-size: 100% 100%;
  background-image: url(img/boards/madness.jpg);
}
#madness_board #largeMadness.large {
  opacity: 1;
}
#madness_board #largeMadness #madnessGrid {
  display: grid;
  grid-template-columns: repeat(5, 163px);
  grid-template-rows: repeat(6, 163px);
  row-gap: 50px;
  position: absolute;
  top: 485px;
  left: 98px;
}
#madness_board #largeMadness #madnessGrid .madnessSlot {
  background-image: url("img/other/madnessCubes.png");
  background-size: 100% 500%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0;
}
#madness_board #largeMadness #madnessGrid .madness_0 {
  background-position-y: 0%;
}
#madness_board #largeMadness #madnessGrid .madness_1 {
  background-position-y: -100%;
}
#madness_board #largeMadness #madnessGrid .madness_2 {
  background-position-y: -200%;
}
#madness_board #largeMadness #madnessGrid .madness_3 {
  background-position-y: -300%;
}
#madness_board #largeMadness #madnessGrid .madness_4 {
  background-position-y: -400%;
}
#madness_board .tiny {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}
#madness_board .large {
  aspect-ratio: 1;
  width: 1800px;
  scale: 0.3;
  border-radius: 7px;
}

.selectable {
  outline: black solid;
  cursor: pointer;
}

.selectable:hover, .selected {
  outline: red solid;
}

.reference {
  background-image: url("img/reference.png");
  position: fixed;
  bottom: 5px;
  transition: all 1s ease;
  z-index: 5;
  box-shadow: 2px 2px 5px black;
}
.reference.tiny {
  border-radius: 50%;
  width: 50px;
  aspect-ratio: 1;
  background-position: -15px -7px;
}
.reference.large {
  width: 300px;
  aspect-ratio: 420/600;
  background-size: 200% 100%;
  border-radius: 7px;
}

#icon_reference {
  left: 5px;
}

#sea_reference {
  left: 60px;
  background-position-x: -100%;
  background-position-y: -20%;
  background-size: 200% auto;
}

#firstPlayerPanel {
  background-image: url(img/other/firstPlayer.png);
  background-size: 100% 100%;
  aspect-ratio: 1;
  width: 50px;
  display: inline-block;
}

#lifePreserverPanel {
  background-image: url(img/other/lifePreserver.png);
  background-size: 100% 100%;
  aspect-ratio: 1;
  width: 50px;
  display: inline-block;
  border-radius: 50%;
}
#lifePreserverPanel.selectable, #lifePreserverPanel.selectable:hover, #lifePreserverPanel.selected {
  outline-width: 3px;
}

.fishTooltipGrid {
  display: grid;
  grid-template-columns: 200px 200px;
  gap: 5px;
}
.fishTooltipGrid .fishTooltipImg {
  background-image: url(img/seaCards.png);
  background-size: 1300% 900%;
  width: 100%;
  aspect-ratio: 225/315;
}
.fishTooltipGrid .fishTooltipText {
  display: flex;
  flex-direction: column;
}

#reveal_area > * {
  zoom: 0.5;
}
#reveal_area .selected {
  cursor: pointer;
}

.handStock {
  position: fixed;
  bottom: -175px;
  left: 170px;
  z-index: 5;
  width: calc(100vw - 440px);
  transition: all 0.8s ease;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 5px;
}
.handStock .bga-cards_card:not(.fish) {
  zoom: 0.445;
}
.handStock .selectable, .handStock .selected {
  outline: none;
}
.handStock .selectable::after, .handStock .selected::after {
  content: "";
  inset: 0px;
  position: absolute;
  border: 3px solid;
}
.handStock .selected::after, .handStock .selectable:hover::after {
  border-color: red;
}
.handStock .selectable::after {
  border-color: black;
}

.handStock:hover {
  bottom: 0;
}

@media (max-width: 990px) {
  .handStock {
    width: calc(100vw - 200px);
  }
}
@media (max-width: 740px) {
  .handStock {
    width: 560px;
  }
}
/* the other files */
#ebd-body {
  background-image: url(img/woodbg.jpg);
  background-repeat: repeat;
}

.playercolourblue {
  color: #488fc7;
}

.playercolourgreen {
  color: #69ba35;
}

.playercolourred {
  color: #ad3545;
}

.playercolourteal {
  color: #439ba0;
}

.playercolourorange {
  color: #cb5c21;
}
