/* the other files */
#ebd-body {
  background-image: url(img/woodbg.jpg);
  background-repeat: repeat;
}

.playercolourorange {
  color: #cb5c21;
}

.playercolourteal {
  color: #439ba0;
}

.playercolourred {
  color: #ad3545;
}

.playercolourgreen {
  color: #69ba35;
}

.playercolourblue {
  color: #488fc7;
}
