@charset "UTF-8";
/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * DeepRegrets implementation : © Connor Rask connor@srask.ca
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */
/* Assumes setup is scene -> dice -> all faces */
#scene {
  perspective: 1000px;
}

#dice {
  position: absolute;
  transform-style: preserve-3d;
  width: 80px;
  left: 50px;
  top: 50px;
  transition: transform 2s ease-out;
}

.face {
  position: absolute;
  width: 80px;
  height: 120px;
}

#f1 {
  background-color: blue;
  transform: translateZ(40px);
}

#f2 {
  background-color: green;
  transform: rotateY(90deg) translateZ(40px);
}

#f3 {
  background-color: red;
  transform: rotateY(180deg) translateZ(40px);
}

#f4 {
  background-color: orange;
  transform: rotateY(-90deg) translateZ(40px);
}

.triangle {
  position: absolute;
  width: 80px;
  height: 57.6px;
  background-color: #000000;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#t1 {
  transform: translateY(-49px) translateZ(20px) rotateX(45deg);
}

#t2 {
  transform: translateY(-49px) translateX(20px) rotateY(90deg) rotateX(45deg);
}

#t3 {
  transform: translateY(-49px) translateZ(-20px) rotateY(180deg) rotateX(45deg);
}

#t4 {
  transform: translateY(-49px) translateX(-20px) rotateY(-90deg) rotateX(45deg);
}

#t5 {
  transform: translateY(111px) translateZ(20px) rotateX(135deg);
}

#t6 {
  transform: translateY(111px) translateX(20px) rotateY(90deg) rotateX(135deg);
}

#t7 {
  transform: translateY(111px) translateZ(-20px) rotateY(180deg) rotateX(135deg);
}

#t8 {
  transform: translateY(111px) translateX(-20px) rotateY(-90deg) rotateX(135deg);
}

/* the other files */
#ebd-body {
  background-image: url(img/woodbg.jpg);
  background-repeat: repeat;
}

.playercolourorange {
  color: #cb5c21;
}

.playercolourteal {
  color: #439ba0;
}

.playercolourred {
  color: #ad3545;
}

.playercolourgreen {
  color: #69ba35;
}

.playercolourblue {
  color: #488fc7;
}
