@use "sass:list";

#boards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
    flex-wrap: wrap;

    #sea_board {
        // Use zoom to resize
        max-width: 100%;
        width: 600px;
        aspect-ratio: 3000 / 4050;
        background-image: url('img/boards/sea.jpg');
        background-size: auto 100%;
        position: relative;
        border-radius: 2px;
        box-shadow: 1px 1px 1px black;
        zoom: 1;
        margin-right: 142px;

        #shoal_grid {
            display: grid;
            grid-template-rows: repeat(3, 215px);
            grid-template-columns: repeat(4, 156px);
            margin-top: 101px;
            margin-left: 75px;
            row-gap: 10px;
            column-gap: 9px;
        }

        .shoal {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

        $x_vals: (84px, 267px, 451px);
        $y_vals: (149px, 398px, 648px);
        @each $y in $y_vals {
            @each $x in $x_vals {
                #shoal_#{list.index($x_vals, $x)}_#{list.index($y_vals, $y)} {
                    left: $x;
                    top: $y;
                }
            }
        }

        @each $y in $y_vals {
            #shoal_graveyard_#{list.index($y_vals, $y)} {
                left: 634px;
                top: $y;
            }
        }
    }

    #port_board {
        max-width: 1500px;
        width: 100%;
        aspect-ratio: 3000 / 2025;
        background-image: url('img/boards/port.jpg');
        background-size: 100% 100%;
        position: relative;
        border-radius: 2px;
        box-shadow: 1px 1px 1px black;
        zoom: 1;
        container: port / inline-size;

        .dayTracker-slot {
            aspect-ratio: 1;
            background-image: url('img/other/day.png');
            background-size: 100% 100%;
            position: absolute;
            top: -43px;
        }

        @for $i from 1 through 6 {
            @container port (width > 0px) {
                #day-#{$i} {
                    left: calc(54.8cqw + ($i - 1) * 7.24cqw);
                    width: 6.7cqw;
                }
            }
        }
    }

    .size_buttons {
        display: flex;
        flex-direction: row;
        gap: 3px;
        margin: 3px;
    }

    .utility_button {
        width: 30px;
        aspect-ratio: 1;
        background-image: url("img/utilityButtons.png");
        background-size: 400% 100%;
        top: 0;
    }

    $places: "sea", "port";
    $buttons: ("large": 1, "small": 2, "home": 0);

    @each $place in $places {
        @each $button, $location in $buttons {
            ##{$place}_#{$button} {
                background-position-x: calc(-#{$location} * 100%);
                cursor: pointer;
            }
        }
    }
}

.playerBoard {
    background-image: url("img/boards/playerBoards.jpg");
    width: calc(100% - 20px);
    aspect-ratio: 1020 / 450;
    background-size: 200% 500%;
    margin: 10px;
    max-width: 720px;
    position: relative;
    .freshGrid {
        width: 245px;
        height: 130px;
        position: absolute;
        left: 308px;
        top: 127px;
    }
    .spentGrid {
        width: 137px;
        height: 133px;
        position: absolute;
        left: 564px;
        top: 127px;
    }
}

.fishbuck-slot {
    background-image: url("img/other/moneyTrackers.png");
    background-size: 100% 500%;
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    box-shadow: 1px 1px 1px black;
}
.fishbuck-slot {
    top: 46px;
    width: 50px;
}

.dice-front {
    background-image: url('img/dice/sides.jpg');
}