@use "sass:list";

#boards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
    flex-wrap: wrap;

    #sea_board {
        // Use zoom to resize
        max-width: 100%;
        width: 600px;
        aspect-ratio: 3000 / 4050;
        background-image: url('img/boards/sea.jpg');
        background-size: auto 100%;
        position: relative;
        border-radius: 2px;
        box-shadow: 1px 1px 1px black;
        zoom: 1;
        margin-right: 142px;

        #shoal_grid {
            display: grid;
            grid-template-rows: repeat(3, 215px);
            grid-template-columns: repeat(4, 156px);
            margin-top: 101px;
            margin-left: 75px;
            row-gap: 10px;
            column-gap: 9px;
        }

        .shoal {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

        #ship_grid_sea {
            top: 133px;
            left: 0;
            display: grid;
            grid-template-rows: repeat(3, 222px);
            grid-template-columns: 63px;
            position: absolute;
        }
    }

    #port_board {
        max-width: 1500px;
        width: 100%;
        aspect-ratio: 3000 / 2025;
        background-image: url('img/boards/port.jpg');
        background-size: 100% 100%;
        position: relative;
        border-radius: 2px;
        box-shadow: 1px 1px 1px black;
        zoom: 1;
        margin-right: 220px;
        margin-bottom: 520px;
        flex: 0 0 auto;

        .dayTracker-slot {
            aspect-ratio: 1;
            background-image: url('img/other/day.png');
            background-size: 100% 100%;
            position: absolute;
            top: -43px;
            width: 100px;
        }

        @for $i from 1 through 6 {
            #day-#{$i} {
                left: calc(821px + ($i - 1) * 108.8px);
            }
        }

        #regret_grid {
            position: absolute;
            display: grid;
            grid-template-columns: 278px;
            grid-template-rows: repeat(2, 396px);
            gap: 16px;
            left: 1440px;
            top: 183px;
        }

        .regret {
            border-radius: 12px;
        }

        .itemDeck {
            width: 350px;
            height: 490px;
            position: absolute;
            border-radius: 12px;
            top: 1040px;
        }

        #rodsDeck {
            left: 210px;
        }

        #reelsDeck {
            left: 625px;
        }

        #suppliesDeck {
            left: 1040px;
        }

        #ship_port {
            width: 150PX;
            height: 394PX;
            position: absolute;
            left: 0;
            top: 596px;
        }
    }

    .size_buttons {
        display: flex;
        flex-direction: row;
        gap: 3px;
        margin: 3px;
    }

    .utility_button {
        width: 30px;
        aspect-ratio: 1;
        background-image: url("img/utilityButtons.png");
        background-size: 400% 100%;
        top: 0;
    }

    $places: "sea", "port";
    $buttons: ("large": 1, "small": 2, "home": 0);

    @each $place in $places {
        @each $button, $location in $buttons {
            ##{$place}_#{$button} {
                background-position-x: calc(-#{$location} * 100%);
                cursor: pointer;
            }
        }
    }
}

.playerBoard {
    background-image: url("img/boards/playerBoards.jpg");
    width: calc(100% - 20px);
    aspect-ratio: 1020 / 450;
    background-size: 200% 500%;
    margin: 10px;
    max-width: 720px;
    position: relative;
    .freshGrid {
        width: 245px;
        height: 130px;
        position: absolute;
        left: 308px;
        top: 127px;
    }
    .spentGrid {
        width: 137px;
        height: 133px;
        position: absolute;
        left: 564px;
        top: 127px;
    }
}

.fishbuck-slot {
    background-image: url("img/other/moneyTrackers.png");
    background-size: 100% 500%;
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    box-shadow: 1px 1px 1px black;
}
.fishbuck-slot {
    top: 46px;
    width: 50px;
}

.playerComponents {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;

    .provisions {
        height: 300px;
        aspect-ratio: 600 / 840;
        background-size: 200% 200%;
        margin: 10px;
    }

    .lifeboat {
        background-image: url(img/provisions.png);
    }

    .canOfWorms {
        background-image: url(img/provisions.png);
        background-position-x: -100%;
    }
}