@use "sass:list";

#boards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
    flex-wrap: wrap;

    #sea_board {
        // Use zoom to resize
        max-width: 100%;
        width: 667px;
        aspect-ratio: 667 / 900;
        background-image: url('img/sea.jpg');
        background-size: auto 100%;
        position: relative;
        border-radius: 2px;
        box-shadow: 1px 1px 1px black;
        zoom: 0.9;
        margin-right: 142px;

        #shoal_grid {
            display: grid;
            grid-template-rows: repeat(3, 238px);
            grid-template-columns: repeat(4, 173px);
            margin-top: 116px;
            margin-left: 84px;
            row-gap: 11.5px;
            column-gap: 10.5px;
        }

        .shoal {
            width: 100%;
            height: 100%;
            background-color: red;
            border-radius: 12px;
        }

        $x_vals: (84px, 267px, 451px);
        $y_vals: (149px, 398px, 648px);
        @each $y in $y_vals {
            @each $x in $x_vals {
                #shoal_#{list.index($x_vals, $x)}_#{list.index($y_vals, $y)} {
                    left: $x;
                    top: $y;
                }
            }
        }

        @each $y in $y_vals {
            #shoal_graveyard_#{list.index($y_vals, $y)} {
                left: 634px;
                top: $y;
            }
        }
    }

    #port_board {
        max-width: 1200px;
        width: 100%;
        aspect-ratio: 1200 / 810;
        background-image: url('img/port.jpg');
        background-size: 100% 100%;
        position: relative;
        border-radius: 2px;
        box-shadow: 1px 1px 1px black;
        zoom: 1;
    }

    .size_buttons {
        display: flex;
        flex-direction: row;
        gap: 3px;
        margin: 3px;
    }

    .utility_button {
        width: 30px;
        aspect-ratio: 1;
        background-image: url("img/utilityButtons.png");
        background-size: 400% 100%;
        top: 0;
    }

    $places: "sea", "port";
    $buttons: ("large": 1, "small": 2, "home": 0);

    @each $place in $places {
        @each $button, $location in $buttons {
            ##{$place}_#{$button} {
                background-position-x: calc(-#{$location} * 100%);
                cursor: pointer;
            }
        }
    }
}