/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * DeepRegrets implementation : © Connor Rask connor@srask.ca
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

@use 'variables' as v;
@use 'dice';
@use 'boards';
@use 'reference';
@use 'playerPanel';
@use 'tooltips';
@use 'reveal';
@use 'hand';

/* the other files */
// @use "./Animations";
// @use "./Board";

#ebd-body {
    background-image: url(img/woodbg.jpg);
    background-repeat: repeat;
}
@each $key, $val in v.$colours-list {
    .playercolour#{$key} {
        color: #{$val};
    }
}