/* Assumes setup is scene -> dice -> all faces */
#scene {
  perspective: 1000px;
}

#dice {
  position: absolute;
  transform-style: preserve-3d;
  width:80px;
  left: 50px;
  top:50px;
  transition: transform 2s ease-out;
}
.face {
  position: absolute;
  width: 80px;
  height: 120px;
}

#f1 {
  background-color: blue;
  transform: translateZ(40px);
}
#f2 {
  background-color: green;
  transform: rotateY(90deg) translateZ(40px);
}
#f3 {
  background-color: red;
  transform: rotateY(-90deg) translateZ(40px);
}
#f4 {
  background-color: orange;
  transform: rotateY(180deg) translateZ(40px);
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 57px solid red;
}

#t1 {
  transform: translateZ(20px) translateY(-48.5px) rotateX(45deg);
}

#t2 {
  transform: translateX(20px) translateY(-48.5px) rotateY(90deg) rotateX(45deg);
}

#t3 {
  transform: translateZ(-20px) translateY(-48.5px) rotateY(180deg) rotateX(45deg);
}

#t4 {
  transform: translateX(-20px) translateY(-48.5px) rotateY(-90deg) rotateX(45deg);
}
#t5 {
  transform: translateZ(20px) translateY(111px) rotateX(135deg);
}

#t6 {
  transform: translateX(20px) translateY(111px) rotateY(90deg) rotateX(135deg);
}

#t7 {
  transform: translateZ(-20px) translateY(111px) rotateY(180deg) rotateX(135deg);
}

#t8 {
  transform: translateX(-20px) translateY(111px) rotateY(-90deg) rotateX(135deg);
}