/* Assumes setup is scene -> dice -> all faces */
#scene {
  perspective: 1000px;
}

#dice {
  position: absolute;
  transform-style: preserve-3d;
  width:80px;
  left: 50px;
  top:50px;
  transition: transform 2s ease-out;
}
.face {
  position: absolute;
  width: 80px;
  height: 120px;
}

#f1 {
  background-color: blue;
  transform: translateZ(40px);
}
#f2 {
  background-color: green;
  transform: rotateY(90deg) translateZ(40px);
}
#f3 {
  background-color: red;
  transform: rotateY(180deg) translateZ(40px);
}
#f4 {
  background-color: orange;
  transform: rotateY(-90deg) translateZ(40px);
}

.triangle {
  position: absolute;
  width: 80px;
  height: 57.6px;
  background-color: #000000;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#t1 {
  transform: translateY(-49px) translateZ(20px) rotateX(45deg);
}

#t2 {
  transform: translateY(-49px) translateX(20px) rotateY(90deg) rotateX(45deg);
}

#t3 {
  transform: translateY(-49px) translateZ(-20px) rotateY(180deg) rotateX(45deg);
}

#t4 {
  transform: translateY(-49px) translateX(-20px) rotateY(-90deg) rotateX(45deg);
}

#t5 {
  transform: translateY(111px) translateZ(20px) rotateX(135deg);
}

#t6 {
  transform: translateY(111px) translateX(20px) rotateY(90deg) rotateX(135deg);
}

#t7 {
  transform: translateY(111px) translateZ(-20px) rotateY(180deg) rotateX(135deg);
}

#t8 {
  transform: translateY(111px) translateX(-20px) rotateY(-90deg) rotateX(135deg);
}