.handStock {
    position: fixed;
    bottom: -175px;
    left: 170px;
    z-index: 10;
    width: fit-content;
    max-width: calc(100vw - 440px);
    transition: all 0.8s ease;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 5px;
    
    .bga-cards_card:not(.fish):not(.dinks) {
        zoom: 0.445;
    }

    .dinks {
        zoom: 1.2;
    }

    .selectable, .selected {
        outline: none;
    }

    .selectable::after, .selected::after {
        content: '';
        inset: 0px;
        position: absolute;
        border: 3px solid;
    }

    .selected::after, .selectable:hover::after {
        border-color: red;
    }
    .selectable::after {
        border-color: black;
    }
}

.handStock:hover {
    bottom: 0;
}

@media (max-width: 990px) {
    .handStock {
        max-width: calc(100vw - 200px);
    }
}

@media (max-width: 740px) {
    .handStock {
        max-width: 560px;
    }
}