#firstPlayerPanel {
    background-image: url(img/other/firstPlayer.png);
    background-size: 100% 100%;
    aspect-ratio: 1;
    width: 50px;
    display: inline-block;
}
#lifePreserverPanel {
    background-image: url(img/other/lifePreserver.png);
    background-size: 100% 100%;
    aspect-ratio: 1;
    width: 50px;
    display: inline-block;
}