.fishTooltipGrid {
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 5px;

    .fishTooltipImg {
        background-image: url(img/seaCards.png);
        background-size: 1300% 900%;
        width: 100%;
        aspect-ratio: 225 / 315;
    }

    .fishTooltipText {
        display: flex;
        flex-direction: column;
    }
}